<div class="alert-container">
  <div class='form'>
    <form class="inputs-container">
      <div class="input-wrapper last-name">
        <mat-form-field>
          <mat-label><a class="star">*</a>מס ח.פ.</mat-label>
          <input matInput type="number">
        </mat-form-field>
      </div>
      <div class="input-wrapper email">
        <mat-form-field>
          <mat-label><a class="star">*</a> שם חברה</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="input-wrapper email">
        <mat-form-field>
          <mat-label><a class="star">*</a> בנק מצרף</mat-label>
          <mat-select>
            <mat-option *ngFor="let origin of origins$ | async"
                        [value]="origin">{{origin.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
    <form class="inputs-container">
      <div class="input-wrapper last-name">
        <mat-form-field>
          <mat-label><a class="star">*</a>שם פרטי</mat-label>
          <input matInput>
        </mat-form-field>
        <div class="input-wrapper last-name">
          <mat-form-field>
            <mat-label>שם משפחה<a class="star">*</a></mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>
      <div class="input-wrapper last-name">
        <mat-form-field>
          <mat-label><a class="star">*</a>טלפון נייד</mat-label>
          <input
            matInput>
        </mat-form-field>
      </div>
      <div class="input-wrapper last-name">
        <mat-form-field>
          <mat-label>כתובת דואר אלקטרוני<a class="star">*</a></mat-label>
          <input matInput>
        </mat-form-field>
      </div>
    </form>
  </div>
</div>
<mat-dialog-actions class='actions'>
  <!--  <button class='btn transparent' [mat-dialog-close]="true">ביטול</button>
    <button class='btn primary' (click)="saveTenant()"
            *ngIf="tenantState.tenant == null"
            [disabled]="tenantState.tenantForm.invalid">
      שמור טננט
    </button>
    <button class='btn primary' (click)="saveUser()"
            *ngIf="tenantState.tenant != null"
            [mat-dialog-close]="true" [disabled]="tenantState.userForm.invalid || phoneLength">
      שמור משתמש
    </button>-->
</mat-dialog-actions>
