@import 'src/assets/scss/mixins';
@import 'src/assets/scss/mixins';

:host {
  .card {
    padding: 20px 30px;
    margin-bottom: 25px;
  }

  h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    color: #075F8F;
    margin: 0 0 20px 0;
  }

  .inputs-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0 2.5%;

    .input-wrapper {
      flex: 0 0 23%;
      max-width: 23%;

      .mat-form-field {
        width: 100%;
      }
    }

    @include breakpoint(mobile-max) {
      flex-direction: column;
      .input-wrapper {
        flex: 1;
        max-width: 100%;

        ::ng-deep {
          .mat-form-field-appearance-legacy .mat-form-field-wrapper {
            padding-bottom: 10px;
          }
        }
      }
    }
  }

  .submit {
    display: flex;
    justify-content: flex-end;
    @include breakpoint(mobile-max) {
      margin-top: 20px;
    }
  }

  .new-password {
    max-width: 30% !important;

    ::ng-deep {
      .mat-form-field-wrapper {
        padding-bottom: 0;
      }
    }

    @include breakpoint(mobile-max) {
      margin-bottom: 25px;
      max-width: 100% !important;
      ::ng-deep {
        .mat-form-field-wrapper {
          padding-bottom: 0 !important;
        }
      }
    }
  }

  .password-strength {
    display: flex;
    align-items: center;
    gap: 10px;

    span {
      font-size: 15px;
      line-height: 19px;
      font-weight: 600;
    }

    mat-password-strength {
      flex: 1;
      padding-left: 5px;

      ::ng-deep {
        .mat-progress-bar {
          height: 5px;
          top: 1px;
        }
      }
    }
  }

}

:host {
  .header-wrapper {

    @include breakpoint(mobile-max) {
      margin-bottom: 15px;
    }
  }

  .actions-container {
    display: block;

    &-mobile {
      display: none;
    }

    @include breakpoint(mobile-max) {
      display: none;
      &-mobile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .add-user {
          background-color: transparent;
          border: none;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0;
          border-radius: 0;

          .plus-sign {
            background-color: #075F8F;
            border: 1px solid #075F8F;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            display: block;
            line-height: 27px;
            font-size: 21px;
            margin-bottom: 5px;
          }

          .text {
            font-size: 15px;
            line-height: 19px;
            color: #4C4C4C;
          }
        }
      }
    }
  }

  // table
  .table-wrapper {
    overflow: auto;
    @include breakpoint(tablet-max) {
      max-height: calc(100vh - 200px);
      overflow: auto;
    }
  }

  .mat-table {
    width: 100%;
    min-width: 850px;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.09);
    // table header
    tr.mat-header-row {
      background-color: rgba(7, 95, 143, 0.08);

      .mat-header-cell {
        font-size: 15px;
        font-weight: 600;
        border-bottom: none;
        text-align: center;
      }

      .mat-column-select {
        width: 60px;
        padding-right: 10px;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
      }

      .mat-column-name {
        padding-right: 20px;
        text-align: right;
      }

      .mat-column-email {
        text-align: right;
      }
    }

    // table data
    tr.mat-row {
      height: 56px;

      .mat-cell {
        font-size: 15px;
        border-bottom: none;
        text-align: center;
      }

      .mat-column-select {
        width: 60px;
        padding-right: 10px;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
      }

      .mat-column-name {
        padding-right: 20px;
        padding-left: 20px;
        text-align: right;
      }

      .mat-column-email {
        text-align: right;
        padding-left: 20px;
      }

      .mat-column-menu {
        width: 50px;
        padding-left: 0;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
      }
    }

    //checkbox
    ::ng-deep {
      .mat-checkbox-frame {
        background: #fff;
      }

      .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
        background-color: transparent;

        .mat-checkbox-mixedmark {
          background-color: #075F8F;
        }
      }
    }
  }

  .mat-column-select {
    overflow: initial;
  }

  // pagination customization
  ::ng-deep {
    .mat-paginator {
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.09);
      @include breakpoint(mobile-max) {
        margin-top: 5px;
      }
    }

    .mat-paginator-container {
      justify-content: flex-start;

      .mat-paginator-page-size-label {
        display: none;
      }

      .mat-paginator-range-actions {
        display: grid;
        grid-template-areas: "pages next previous";

        .mat-paginator-range-label {
          grid-area: pages;
          direction: ltr;
        }

        .mat-paginator-navigation-previous {
          grid-area: previous;
          transform: rotate(180deg);
          line-height: 1;
        }

        .mat-paginator-navigation-next {
          grid-area: next;
          transform: rotate(180deg);
          line-height: 1;
        }
      }
    }
  }


  // buttons customization
  .check-green {
    height: 25px;
    width: 25px;
  }

  .icon.x {
    height: 12px;
    width: 12px;
  }

  .menu-btn {
    background-image: url("/assets/icons/three-dots.svg");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0;
    border-radius: 0;
    height: 21px !important;
    width: 21px !important;

    &:hover {
      filter: drop-shadow(0 0px 12px #999);
    }
  }

}
