<div class="content-wrapper">
  <mat-card class="card details-update">
    <form [formGroup]="state.searchForm">
      <div class="inputs-container">
        <div class="input-wrapper id-number">
          <mat-form-field>
            <mat-label>מס ח.פ.</mat-label>
            <input formControlName="business_id" matInput type='number'>
          </mat-form-field>
          <mat-form-field>
            <mat-label> בנק מצרף</mat-label>
            <input formControlName="companyName" matInput>
          </mat-form-field>
          <mat-form-field>
            <mat-label>סטטוס</mat-label>
            <input formControlName="status" matInput>
          </mat-form-field>
          <mat-form-field>
            <mat-label>שם חברה</mat-label>
            <input formControlName="name" matInput>
          </mat-form-field>
        </div>
      </div>
      <div class='btn-wrapper submit'>
        <button (click)="state.search()" class='btn primary' type="submit">
          חיפוש
        </button>
        <button (click)="reset()" class='btn primary' style="margin-right: 1%" type="submit">
          אתחול
        </button>
      </div>
    </form>
  </mat-card>
</div>
